extends ../../layouts/default.pug
include ../../mixins/box-filter.pug

block main
  h1 Danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-4
          +box-filter([
            {
              label: "Tất cả",
              value: ""
            },
            {
              label: "Hoạt động",
              value: "active"
            },
            {
              label: "Dừng hoạt động",
              value: "inactive"
            }
          ])
        .col-8
          include ../../partials/form-search.pug

  .card
    .card-header Danh sách
    .card-body
      table.table.table-hover.table-sm
        thead
          tr
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Trạng thái
            th Hành động

        tbody
          each item, index in products
            tr 
              td #{index + 1}
              td
                img(
                  src=item.thumbnail
                  alt=item.title
                  width="100px"
                  height="auto"
                )
              td #{item.title}
              td #{item.price}$
              td
                if(item.status == "active")
                  button(
                    class="badge badge-success"
                    item-id=item.id
                    button-change-status="inactive"
                    data-path=`/${prefixAdmin}/products/change-status`
                  ) Hoạt động
                else if (item.status == "inactive")
                  button(
                    class="badge badge-danger"
                    item-id=item.id
                    button-change-status="active"
                    data-path=`/${prefixAdmin}/products/change-status`
                  ) Dừng hoạt động
              td
                button(class="btn btn-warning btn-sm") Sửa
                button(class="btn btn-danger btn-sm ml-1") Xóa

  nav(class="mt-3")
    ul(class="pagination")
      if(currentPage > 1)
        li(class="page-item")
          button(class="page-link" button-pagination=currentPage-1) Trang trước

      - for (var i = 1; i <= totalPage; i++)
        li(class="page-item")
          button(class="page-link" button-pagination=i) #{i}

      if(currentPage < totalPage)
        li(class="page-item")
          button(class="page-link" button-pagination=currentPage+1) Kế tiếp