extends ../../layouts/default.pug
include ../../mixins/box-filter.pug

block main
  if(role.permissions.includes("products_view"))
    h1 Danh sách sản phẩm

    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-4
            +box-filter([
              {
                label: "Tất cả",
                value: ""
              },
              {
                label: "Hoạt động",
                value: "active"
              },
              {
                label: "Dừng hoạt động",
                value: "inactive"
              }
            ])
          .col-8
            include ../../partials/form-search.pug

    .card.mb-3
      .card-header Sắp xếp
      .card-body
        .row
          .col-4
            select(class="form-control" sort-select)
              option(value="position-desc") Vị trí giảm dần
              option(value="position-asc") Vị trí tăng dần
              option(value="price-desc") Giá giảm dần
              option(value="price-asc") Giá tăng dần
              option(value="title-desc") Tiêu đề từ Z đến A
              option(value="title-asc") Tiêu đề từ A đến Z

    .card
      .card-header Danh sách
      .card-body
        .row.mb-3
          .col-6
            if(role.permissions.includes("products_edit"))
              form(
                form-change-multi
                data-path=`/${prefixAdmin}/products/change-multi`
              )
                .input-group
                  select(name="status" class="form-control")
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động
                    option(value="delete") Xóa
                  .input-group-append
                    button(
                      class="btn btn-success"
                      type="submit"
                    ) Áp dụng
          .col-6.text-right
            if(role.permissions.includes("products_create"))
              a(
                href=`/${prefixAdmin}/products/create`
                class="btn btn-outline-success"
              ) + Thêm mới

        table.table.table-hover.table-sm
          thead
            tr
              th
              th STT
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Vị trí
              th Trạng thái
              th Tạo bởi
              th Cập nhật bởi
              th Hành động

          tbody
            each item, index in products
              tr 
                td
                  input(
                    type="checkbox"
                    input-change=item.id
                  )
                td #{limitItems*(currentPage - 1) + index + 1}
                td
                  img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                  )
                td #{item.title}
                td #{item.price}$
                td
                  if(role.permissions.includes("products_edit"))
                    input(
                      type="number"
                      value=item.position
                      item-id=item.id
                      data-path=`/${prefixAdmin}/products/change-position`
                      input-position
                      style="width: 60px;"
                    )
                  else
                    span #{item.position}
                td
                  if(item.status == "active")
                    button(
                      class="badge badge-success"
                      item-id=(role.permissions.includes("products_edit") ? item.id : "")
                      button-change-status="inactive"
                      data-path=`/${prefixAdmin}/products/change-status`
                    ) Hoạt động
                  else if (item.status == "inactive")
                    button(
                      class="badge badge-danger"
                      item-id=(role.permissions.includes("products_edit") ? item.id : "")
                      button-change-status="active"
                      data-path=`/${prefixAdmin}/products/change-status`
                    ) Dừng hoạt động
                td
                  div #{item.createdByFullName}
                  div #{item.createdAtFormat}
                td
                  div #{item.updatedByFullName}
                  div #{item.updatedAtFormat}
                td
                  a(
                    class="btn btn-info btn-sm"
                    href=`/${prefixAdmin}/products/detail/${item.id}`
                  ) Chi tiết
                  if(role.permissions.includes("products_edit"))
                    a(
                      class="btn btn-warning btn-sm ml-1"
                      href=`/${prefixAdmin}/products/edit/${item.id}`
                    ) Sửa
                  if(role.permissions.includes("products_delete"))
                    button(
                      class="btn btn-danger btn-sm ml-1"
                      item-id=item.id
                      button-delete
                      data-path=`/${prefixAdmin}/products/delete`
                    ) Xóa

    nav(class="mt-3")
      ul(class="pagination")
        if(currentPage > 1)
          li(class="page-item")
            button(class="page-link" button-pagination=currentPage-1) Trang trước

        - for (var i = 1; i <= totalPage; i++)
          li(class="page-item")
            button(class="page-link" button-pagination=i) #{i}

        if(currentPage < totalPage)
          li(class="page-item")
            button(class="page-link" button-pagination=currentPage+1) Kế tiếp