.row
  .col-12
    a(
      class="btn btn-primary m-1"
      href="/user/not-friend"
    ) Danh sách người dùng
    a(
      class="btn btn-primary m-1"
      href="/user/friends"
    ) Danh sách bạn bè
    a(
      class="btn btn-primary m-1"
      href="/user/request"
    ) Lời mời đã gửi
    a(
      class="btn btn-primary m-1"
      href="/user/accept"
    ) Lời mời đã nhận