extends ../../layouts/default.pug

block main
  h1(class="mb-4") #{pageTitle}

  h5 Tài khoản: #{account.fullName}

  form(
    action=`/${prefixAdmin}/accounts/change-password/${account.id}?_method=PATCH`
    method="POST"
  )
    div(class="form-group")
      label(for="password") Mật khẩu mới *
      input(
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Đổi mật khẩu