extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head(pageTitle)

    .row
      .col-12
        form(
          action=`/user/rooms/create`
          method="POST"
        )
          div(class="form-group")
            label(for="title") Tiêu đề
            input(
              type="text"
              class="form-control"
              id="title"
              name="title"
              required
            )
          div(class="form-group")
            label Thêm thành viên

            each friend in friendsList
              div(class="form-check")
                input(
                  class="form-check-input"
                  type="checkbox"
                  value=friend.userId
                  id=`user-${friend.userId}`
                  name="usersId"
                )
                label(
                  class="form-check-label"
                  for=`user-${friend.userId}`
                ) #{friend.fullName}

          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary"
            ) Tạo