extends ../../layouts/default.pug

block main
  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") #{pageTitle}
        form(
          action="/user/password/reset"
          method="POST"
        )
          div(class="form-group")
            label(for="password") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu